*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Roboto', sans-serif;
    --color1: #FFF ;
    --color2: #070707 ;
    --color3: #f8b736;
    --color4: #1cba70;
    --color5: #25c4dc;
    background-color: #000000;
}
.nav-bar {
    max-width:  1200px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    position: relative;
    background-color: var(--color2);
    padding: 12px 20px;
}
.logo img {width: 60px;}
.menu {
    display: flex;
    max-width: 600px;
    flex: 1;
}
.menu li {padding-left: 30px;}
.menu li a {
    display: inline-block;
    text-decoration: none;
    color: var(--color1);
    text-align: center;
    transition: 0.15s ease-in-out;
    position: relative;
    text-transform: uppercase;
}
.menu li a::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 1px;
    background-color: var(--color1);
    transition: 0.15s ease-in-out;
}
.menu li a:hover:after {width: 100%;}
.open-menu , .close-menu {
    position: absolute;
    color: var(--color1);
    cursor: pointer;
    font-size: 1.5rem;
    display: none;
}
.open-menu {
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}
.close-menu {
    top: 30px;
    right: 30px;
}

#check {display: none;}
@media(max-width: 610px){
    .menu {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 90%;
        height: 100vh;
        position: fixed;
        top: 0;
        right: -100%;
        z-index: 100;
        background-color: var(--color2);
        transition: all 0.2s ease-in-out;
    }
    .menu li {margin-top: 40px;}
    .menu li a {padding: 10px;}
    .open-menu , .close-menu {display: block;}
    #check:checked ~ .menu {right: 0;}
}

.body{
    background-color: #000000;
}

body {
    margin: 0;
    color: #fff;
}

.welcome-container {
    position: relative;
    max-width: 1200px;
    height: 300px;
    margin: 0 auto;
    background-image: url('img/pexels-cax0000-1959065.jpg'); 
    background-size: cover;
    background-position: center;
    border: 5px solid rgb(255, 255, 255); 
}

.welcome-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.2); 
    display: flex;
    align-items: center;
    justify-content: center;
}

h1 {
    font-size: 5em;
    color: #ffffff;
    text-shadow: 4px 4px 8px black ;
}

body {
    margin: 0;
    background-color: #000000; 
    color: #ffffff; 
}

.container {
    max-width: 1200px; 
    margin: 0 auto; 
    padding: 20px; 
}

.section {
    margin-bottom: 10px;
    background: rgba(0, 0, 0, 0.3);
    padding: 20px;
    border-radius: 8px;
    text-align: justify; 
}

.flex-container {
    display: flex; 
    align-items: center; 
    justify-content: center;
    flex-wrap: wrap; 
    
}

h2 {
    margin: 20px;
    font-size: 1.5em; 
    text-align: left;
    border-bottom: 4px solid var(--color4);
    background-color: #000000;
    padding: 15px;
}

h3 {
    margin: 0 0 10px;
    font-size: 2em; 
}

p {
    font-size: 1.2em; 
    margin: 5px 25px; 
    line-height: 1.5em; 
    flex: 1;
    text-align: left ;
    position: relative;

  
}

img {
    max-width: 500px; 
    height: auto; 
    border-radius: 8px; 
}


.location-hours-container {
    display: flex; 
    justify-content: space-between; 
    margin: 10px 0; 
    flex-wrap: wrap; 
}

.location, .hours {
    background: rgba(48, 48, 48, 0.7);
    padding: 20px; 
    flex: 1 1 300px;
    max-width: 600px; 
    margin: 10px; 
    margin-top: 10px;
    text-align: center; 
    color: #ffffff;
    
}

.location {
    background-image: url('img/location-pin-svgrepo-com.svg'); 
       background-size: 220px 220px;    
       background-repeat: no-repeat;    background-position: center;
       position: relative;
       border-left: #FFF 6px solid;
       
}

.hours {
    background-image: url('img/time-svgrepo-com.svg'); 
    background-size: 200px 200px;    
    background-repeat: no-repeat;    background-position: center;
    position: relative;
    border-left: #FFF 6px solid; 
}




@media (max-width: 768px) {
    .flex-container {
        flex-direction: column; 
        align-items: center; /
    }
    
    .location-hours-container {
        flex-direction: column; 
    }
    
    .location, .hours {
        margin: 10px 0; 
        max-width: 100%; 
        padding: 20px; /
    }
    
    img {
        max-width: 80%; 
    }

    p {
        margin: 20px 0; 
        text-align: left; 
    }
}
 
footer {
    background-color: #121212; 
    color: #ffffff; 
    padding: 20px; 
    border-top: 2px solid #ffffff;
    margin-top: 160px;
}

.footer-container {
    display: flex; 
    flex-direction: column; 
    align-items: center; 
    text-decoration: none; 
    text-align: center;
}

.social-icons {
    margin-bottom: 40px; 
}

.social-icons a {
    margin: 0 20px;
    text-decoration: none; 
}

.social-icons img {
    width: 40px; 
    height: auto; 
}

.contact-info p {    
    margin: 5px 0; 
} 

.contact-info p:first-child {
    font-size: 1.2em; 
    font-weight: bold; 
}


@media (min-width: 600px) {
    .footer-container {
        flex-direction: row; 
        justify-content: space-between; 
        max-width: 1200px; 
        margin: 0 auto; 
    }
    
    .social-icons {
        margin-bottom: 0; 
    }
}
